<template>
<div class="subnavigation">
<div class="container" id="header">
      <!--<nav class="navbar navbar-light" id="navbar-top">-->
        <!--<a class="navbar-brand"><h2 id="component-name">Metrics</h2></a>-->
        <!--<ul class="nav justify-content-end" id="ignorePDF">-->
          <!--<li class="nav-item">-->
             <!--<print-report class="nav-link"></print-report>-->
          <!--</li>-->
             <!--<div class="btn-group">-->
              <!--<button class="btn btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                <!--Language-->
            <!--</button>-->
              <!--<div class="dropdown-menu">-->
                  <!--<a class="dropdown-item" @click="$i18n.locale='en'">English</a>-->
                  <!--<a class="dropdown-item" @click="$i18n.locale='de'">Deutsch</a>-->
                  <!--<a class="dropdown-item" @click="$i18n.locale='fr'">Français</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;<router-link to="/Report" class="nav-link">Download Report </router-link>  &ndash;&gt;-->
        <!--</ul>-->
      <!--</nav>-->
        <!-- <nav class="navbar navbar-light" id="ignorePDF">
          <ul class="nav" id="navbar-mid">
            <li class="nav-item">
              <router-link to="/"  class="nav-link active" id="dashboard-link">{{ $t("message.navigation.dashboard") }}</router-link>
            </li>
            <li class="nav-item">
              <router-link to="/Catalogue" class="nav-link" id="catalogue-link">{{ $t("message.navigation.catalogues") }}</router-link>
            </li>
            <li class="nav-item">
              <router-link to="/AboutMetrics" class="nav-link" id="catalogue-link">{{ $t("message.navigation.about") }}</router-link>
            </li> -->
          <!--
            <li class="nav-item">
              <debug></debug>
            </li>
             <li class="nav-item">
              <router-link to="/JsonPlot" class="nav-link" id="html-link">Json Plot</router-link> <!- Kommt raus (Nur POC)
            </li>
            <li class="nav-item"> change
              <router-link to="/ChartAPI" class="nav-link" id="html-link">ChartJs</router-link>
            </li>
            <li class="nav-item">
              <router-link to="/Accessibility" class="nav-link" id="html-link">Acces</router-link> <!- Kommt raus (Nur POC)
            </li> -->
          <!-- </ul>
        </nav> -->
         <form class="form-inline my-2 my-lg-0" id="download-report-form">
                <div class="btn-group">
                    <button type="button" class="btn btn"> <span class="dl-icon-main"><i class="fa fa-download" aria-hidden="true"></i></span> <a :href="`https://www.europeandataportal.eu/api/mqa/reports/report/${$i18n.locale}/pdf`">{{ $t("message.navigation.download_report.direct") }}</a></button>
                    <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only"></span>
                    </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" :href="`https://www.europeandataportal.eu/api/mqa/reports/report/${$i18n.locale}/pdf`"><span class="dl-icon-main"><i class="fa fa-download" aria-hidden="true"></i></span>{{ $t("message.navigation.download_report.second_pdf") }}</a>
                            <a class="dropdown-item" :href="`https://www.europeandataportal.eu/api/mqa/reports/report/${$i18n.locale}/ods`"><span class="dl-icon-main"><i class="fa fa-download" aria-hidden="true"></i></span>{{ $t("message.navigation.download_report.second_ods") }}</a>
                            <a class="dropdown-item" :href="`https://www.europeandataportal.eu/api/mqa/reports/report/${$i18n.locale}/xls`"><span class="dl-icon-main"><i class="fa fa-download" aria-hidden="true"></i></span>{{ $t("message.navigation.download_report.second_xls") }}</a>
                    </div>
                </div>
            </form>
        <nav class="navbar navbar-expand-lg navbar-light">
            <!-- <a class="navbar-brand" href="#"></a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                   <router-link to="/"  class="nav-link" exact> <button class="btn btn-light" :class="{ 'active': isactive}" v-on:click="isactive = true">{{ $t("message.navigation.dashboard") }}</button></router-link>
                 </li>
                 <li class="nav-item">
                 <router-link to="/Catalogue" class="nav-link"> <button class="btn btn-light" :class="{ 'active': !isactive}" v-on:click="isactive = false">{{ $t("message.navigation.catalogues") }} </button></router-link>
                </li>
                 <!-- <li class="nav-item">
                    <router-link to="/AboutMetrics" class="nav-link"> <button class="btn btn-light"> {{ $t("message.navigation.about") }} </button></router-link>
                </li> -->
            </ul>
        </div>
      </nav>
    </div>
</div>
</template>
<script>
export default {
  props: ['language'],
  data () {
    return {
      lang: 'en',
      isactive: true
    }
  }
}
</script>

<style scoped>

</style>
