<template>
  <div class="site-wrapper" id="app">
    <back-to-top bottom="20px" right="20px" visibleoffsetbottom="200" >
    <button type="button" class="btn btn-info btn-to-top"><i class="fa fa-angle-up" aria-hidden="true"></i></button>
    </back-to-top>
    <topnav/>
    <subnavigation/>
    <div class="container">
      <div class="main-content">
        <router-view/>
      </div>
    </div>
    <div id="ignorePDF">
    <div class="container" id="footer">
         <!-- <a target="_blank" class="link-small" href="https://www.fokus.fraunhofer.de/imprint">Imprint</a> |
         <a target="_blank" class="link-small" href="https://www.fokus.fraunhofer.de/data_protection">Data Protection</a> -->
    </div>
  </div>
  <bottom></bottom>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</div>
</template>

<script>
import Topnav from './components/EDP2-header'
import Bottom from './components/EDP2-footer'

export default {
  name: 'app',
  components: {
    topnav: Topnav,
    bottom: Bottom
  },
  data () {
    return {
    }
  },
  Methods: {
  }
}
</script>

<style lang="scss">
@import './styles/metrics-style.scss';
@import '../node_modules/bootstrap/scss/bootstrap.scss';

* {
  box-sizing: border-box;
}

.site-wrapper {
  border: 1px solid #83b4c2;
  margin: auto;
  max-width: 984px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.spacer {
  margin: 500px;
}

</style>
